body {
  text-align: center;
}

h1 {
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  background-image:url(https://github.com/ShadowNextGen/broadway/blob/master/resources/images/the-flatiron-building.png)
}

.links {
  font-family: helvetica;
  font-size: 18px;
}
